# Core dependencies
streamlit
crewai
crewai-tools
langchain-community
langchain-groq
google-generativeai
gtts
openai
python-dotenv
pandas
numpy
pillow
requests
PyPDF2
pysqlite3-binary
streamlit-mic-recorder
